<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notes</title>
        <link rel="stylesheet" href="../public/styles_notes.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
        </nav>
        <main>
            <form action="/notes/search" method="GET">
                <input type="text" name="q" placeholder="Search notes...">
                <button type="submit">🔍Search</button>
            </form>
            <ul class="notes-list">
                <li class="note">
                    <button onclick="window.location.href='/notes/<%= notes[i].id %>'">
                        <h2>Title</h2>
                        <p>Content</p>
                    </button>
                </li>
            </ul>
        </main>

        <button class="add-note-btn" onclick="window.location.href='/notes/new'" aria-label="Create new note">
            +
        </button>
    </body>
</html>